# Elixir
/app/_build/
/app/deps/
/app/.elixir_ls/
*.ez
erl_crash.dump

# Rust (NIFs)
**/native/**/target/

# Node (JS)
npm-debug.log*
node_modules/
dist/
build/
.output/
.astro/
astro.config.mjs.timestamp-* 
docs/public/*.md

# Environment variables
.env
.env.production
.env.local
config/*.secret.exs

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.DS_Store

# Misc
coverage/
.temp/
.cache/
*.log
*.txt

